@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  font: inherit;
}

ul {
  list-style-type:none;
}

a, a:link, a:visited {
  text-decoration:none;
  color:blue;
}

a:hover, a:active, a:focus {
  text-decoration:underline;
}
